* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}
body {
    background-color: #fbe8a6;
    color: #F4976C;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 450px;
    background-color: #303c6c;
    color: #B4DFE5;
}
.square {
    height: 150px;
    width: 150px;
    cursor: pointer;
    border: 1px solid #D2FDFF;
    font-size: 90px;
    text-align: center;
    padding: 2px;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin: auto;
}
.players {
    text-align: center;
    font-size: 30px;
}
.player1 {
    display: inline-block;
    padding: 15px;
    border: 2px solid #B4DFE5;
    margin: 30px 40px;
}
.player2 {
    display: inline-block;
    padding: 15px;
    border: 2px solid #B4DFE5;
    margin: 30px 40px;
}
.currentPlayer {
    background-color: #B4DFE5;
}
.reset {
    position: fixed;
    bottom: 60px;
    left: 5px;
}
.restart {
    position: fixed;
    bottom: 20px;
    left: 5px;
}
.rotate-bl {
	-webkit-animation: rotate-bl 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-bl 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes rotate-bl {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
  }
@keyframes rotate-bl {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
    }
  }
.slide-rotate-hor-b-bck {
	-webkit-animation: slide-rotate-hor-b-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: slide-rotate-hor-b-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes slide-rotate-hor-b-bck {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
              transform: translateY(0) translateZ(0) rotateX(0deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
    100% {
      -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
              transform: translateY(150px) translateZ(-230px) rotateX(90deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
}
@keyframes slide-rotate-hor-b-bck {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
              transform: translateY(0) translateZ(0) rotateX(0deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
    100% {
      -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
              transform: translateY(150px) translateZ(-230px) rotateX(90deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
}
    
